<div class="field">
  <div class="field-label-row">
    <label class="field-label">
      {{ label }}<span *ngIf="required" class="required"> *</span>
    </label>
    <app-tooltip *ngIf="tooltip" [text]="tooltip"></app-tooltip>
  </div>
  <div class="spinner-wrapper">
    <ph-icon name="bed" [size]="18" class="spinner-icon"></ph-icon>
    <span class="spinner-value">{{ control.value }}</span>
    <div class="spinner-buttons">
      <button type="button" class="spinner-btn" (click)="increment()" [disabled]="control.value >= max" aria-label="Increase"><ph-icon name="caret-up" [size]="12"></ph-icon></button>
      <button type="button" class="spinner-btn" (click)="decrement()" [disabled]="control.value <= min" aria-label="Decrease"><ph-icon name="caret-down" [size]="12"></ph-icon></button>
    </div>
  </div>
</div>
