<div class="tab-bar-wrapper">
  <div class="tab-bar">
    <button
      *ngFor="let tab of tabs"
      type="button"
      class="tab"
      [class.active]="tab.key === activeTab"
      [class.disabled]="tab.disabled"
      [disabled]="tab.disabled"
      (click)="selectTab(tab)"
    >
      {{ tab.label }}
    </button>
  </div>
  <div class="added-toggle">
    <label class="added-toggle__label" (click)="onToggleAdded()">
      <span class="added-toggle__text">Added fields</span>
      <span class="added-toggle__switch" [class.on]="showAdded">
        <span class="added-toggle__knob"></span>
      </span>
    </label>
  </div>
</div>
