<div class="app-shell">
  <main class="main-scroll">
    <app-header
      (openSaved)="openSaved()"
      (openHistory)="openHistory()"
      (openGuide)="openGuide()"
    ></app-header>

    <app-tab-bar
      [activeTab]="activeTab"
      (tabChange)="onTabChange($event)"
    ></app-tab-bar>

    <app-url-bar
      [fullUrl]="currentUrl"
      (urlCopied)="onCopy()"
    ></app-url-bar>

    <div class="url-bar-overlap-strip"></div>

    <app-form-container
      [activeTab]="activeTab"
      [showAdded]="showAdded"
      (formChanged)="onFormChanged()"
      (roomConfigsChanged)="onRoomConfigsChanged($event)"
    ></app-form-container>

    <div class="save-action-bar">
      <div class="added-toggle" (click)="toggleAdded()">
        <span class="added-toggle__text">Added fields</span>
        <span class="added-toggle__switch" [class.on]="showAdded">
          <span class="added-toggle__knob"></span>
        </span>
      </div>
      <div class="save-action-bar__buttons">
        <button type="button" class="btn-save-url" (click)="openSaveModal()">
          <ph-icon name="check" [size]="16"></ph-icon>
          Save URL
        </button>
        <button type="button" class="btn-clear-form" (click)="clearForm()">
          <ph-icon name="x" [size]="16"></ph-icon>
          Clear form
        </button>
      </div>
    </div>
  </main>

  <app-save-modal
    *ngIf="showSaveModal"
    [url]="currentUrl"
    (saved)="onSaved($event)"
    (cancelled)="onSaveCancelled()"
  ></app-save-modal>

  <app-drawer
    [open]="drawerOpen"
    [initialTab]="drawerTab"
    (closed)="closeDrawer()"
  ></app-drawer>
</div>
